.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.rssitem {
  /* border: 1px solid black; */
  margin-bottom: 2px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);


}

.carousel-cell {
  height: 450px !important;
}
