<div class="mypage">
    <div class="content">
        <div class="header">
            <div class="header-contenu">
                <div class="logo">
                    <img src="../../assets/logo.svg" alt="">
                </div>
                <h1>
                    {{ xmlItems['title']}}
                </h1>
                <h3 style="color:red;">
                    Date du : {{xmlItems['pubDate']}}
                </h3>
            </div>
        </div>
        <div class="value">
            <carousel [cellsToShow]="4" [height]="500">

                <div *ngFor="let item of xmlItems.item; let index = index" class="carousel-cell rssitem">
                    
                    <div class="img">
                        <img [src]="item['media:content']['0']['$'].url" alt="">
                    </div>
                    <a [href]="item.link">
                        <h3>
                            {{
                            item.title
                            }}
                        </h3>
                    </a>
                    <p>
                        {{
                        item.description
                        }}
                    </p>
                </div>

            </carousel>
        </div>

    </div>
</div>